*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
InventoryService/InventoryService/obj/Debug/netcoreapp3.1/InventoryService.assets.cache
InventoryService/InventoryService/obj/Debug/netcoreapp3.1/InventoryService.assets.cache
InventoryService/InventoryService/obj/Debug/netcoreapp3.1/InventoryService.csprojAssemblyReference.cache
InventoryService/InventoryService/obj/InventoryService.csproj.nuget.dgspec.json
InventoryService/InventoryService/obj/project.assets.json
InventoryService/InventoryService/obj/project.nuget.cache
