
InventoryService/InventoryService/bin/Debug/netcoreapp3.1/InventoryService.exe
InventoryService/InventoryService/bin/Debug/netcoreapp3.1/InventoryService.dll
InventoryService/InventoryService/bin/Debug/netcoreapp3.1/InventoryService.pdb
